# Data Preparation

In [101]:
import numpy as np
import pandas as pd

In [102]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [103]:
data = pd.read_csv('/content/creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [104]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95162 entries, 0 to 95161
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    95162 non-null  int64
 1   V1      95162 non-null  float64
 2   V2      95162 non-null  float64
 3   V3      95162 non-null  float64
 4   V4      95162 non-null  float64
 5   V5      95162 non-null  float64
 6   V6      95162 non-null  float64
 7   V7      95162 non-null  float64
 8   V8      95162 non-null  float64
 9   V9      95162 non-null  float64
 10  V10     95162 non-null  float64
 11  V11     95162 non-null  float64
 12  V12     95162 non-null  float64
 13  V13     95161 non-null  float64
 14  V14     95161 non-null  float64
 15  V15     95161 non-null  float64
 16  V16     95161 non-null  float64
 17  V17     95161 non-null  float64
 18  V18     95161 non-null  float64
 19  V19     95161 non-null  float64
 20  V20     95161 non-null  float64
 21  V21     95161 non-null  float64
 22  V22     95161 non-null  float64
 23  V23     95161 non-null  float64
 24  V24     95161 non-null  float64
 25  V25     95161 non-null  float64
 26  V26     95161 non-null  float64
 27  V27     95161 non-null  float64
 28  V28     95161 non-null  float64
 29  Amount  95161 non-null  float64
 30  Class   95161 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 22.5 MB

In [105]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [106]:
data = data.dropna()

In [107]:
data['Class'] = data['Class'].astype('int')

In [108]:
data['Class'].value_counts() 
# highly unbalanced, 0 = normal, 1 = fraudulent

0    94944
1      217
Name: Class, dtype: int64

In [109]:
normal = data[data.Class == 0]
fraud = data[data.Class == 1]
print(normal.shape)
print(fraud.shape)

(94944, 31)
(217, 31)

In [110]:
normal.Amount.describe()

count    94944.000000
mean        98.685374
std        267.432993
min          0.000000
25%          7.600000
50%         26.720000
75%         89.752500
max      19656.530000
Name: Amount, dtype: float64

In [111]:
fraud.Amount.describe()

count     217.000000
mean      109.784286
std       243.927116
min         0.000000
25%         1.000000
50%         7.580000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [112]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,41232.783620,-0.25064,-0.047145,0.696491,0.15125,-0.270069,0.097914,-0.093292,0.048787,-0.032333,...,0.043401,-0.031938,-0.107340,-0.037071,0.009933,0.13190,0.026607,-0.000819,0.001332,98.685374
1,35870.354839,-6.16618,4.217965,-8.087819,4.99603,-4.444345,-1.845983,-6.417590,2.796291,-2.953535,...,0.354728,0.731128,-0.127758,-0.247689,-0.102596,0.20696,0.097699,0.532822,0.035472,109.784286

In [113]:
normal_sample = normal.sample(n=213)

In [114]:
new = pd.concat([normal_sample, fraud], axis = 0)

In [115]:
new['Class'].value_counts()

1    217
0    213
Name: Class, dtype: int64

In [116]:
new.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,40818.488263,-0.038275,0.110821,0.534547,0.23245,-0.227200,0.122076,0.020441,0.034246,-0.059846,...,0.038105,-0.024655,-0.106713,-0.045357,-0.062137,0.177283,0.001371,0.019513,0.007250,93.986620
1,35870.354839,-6.166180,4.217965,-8.087819,4.99603,-4.444345,-1.845983,-6.417590,2.796291,-2.953535,...,0.354728,0.731128,-0.127758,-0.247689,-0.102596,0.206960,0.097699,0.532822,0.035472,109.784286

In [117]:
X = new.drop(columns='Class', axis=1)
Y = new['Class']

In [118]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
57200  47803 -0.909905 -0.431629  1.995329 -1.414773 -0.210566 -0.637880
56838  47624  1.159910  0.047462  0.576212  0.962649 -0.329830 -0.122636
89959  62805  1.238043  0.770530 -0.331998  1.345465  0.139816 -1.229676
93207  64297 -0.084817  0.319125  0.996895 -1.398011 -0.162894 -0.364199
73454  55142  0.951723 -0.273379 -0.360001  1.061196  0.106210 -0.019569
...      ...       ...       ...       ...       ...       ...       ...
92777  64093 -6.133987  2.941499 -5.593986  3.258845 -5.315512 -0.637328
93424  64412 -1.348042  2.522821 -0.782432  4.083047 -0.662280 -0.598776
93486  64443  1.079524  0.872988 -0.303850  2.755369  0.301688 -0.350284
93788  64585  1.080433  0.962831 -0.278065  2.743318  0.412364 -0.320778
94218  64785 -8.744415 -3.420468 -4.850575  6.606846 -2.800546  0.105512

             V7        V8        V9  ...       V20       V21       V22  \
57200  0.317488 -0.248041 -1.170270  ... -0.407890 -0.551244 -0.823373
56838 -0.194378 -0.035142  0.321362  ...  0.036766 -0.076913 -0.288766
89959  0.354259 -0.280805 -0.184996  ... -0.058242 -0.060570 -0.071096
93207 -0.013514  0.107495 -1.482461  ...  0.149304 -0.076256 -0.431916
73454  0.379270 -0.059891 -0.045867  ...  0.176792  0.053592 -0.092984
...         ...       ...       ...  ...       ...       ...       ...
92777 -4.476488  1.695994 -1.606743  ... -0.815086  0.868340  0.793736
93424 -1.943552 -0.329579 -1.853274  ...  0.348896  1.079871 -0.352026
93486 -0.042848  0.246625 -0.779176  ... -0.252115 -0.023255 -0.158601
93788  0.041290  0.176170 -0.966952  ... -0.172659 -0.008996 -0.057036
94218 -3.269801  0.940378 -2.558691  ... -1.818315  0.102913  0.311626

            V23       V24       V25       V26       V27       V28  Amount
57200  0.294349  0.557070 -0.381932  0.613735 -0.215738 -0.115855   32.24
56838 -0.096308 -0.471444  0.430566 -0.466648  0.041923  0.038539   55.68
89959 -0.131000  0.269144  0.712100 -0.329489  0.039308  0.058838    1.00
93207 -0.099542 -0.475615 -0.159032 -0.492428  0.037905  0.030423   10.00
73454 -0.405957 -0.507078  0.860156 -0.256697 -0.027055  0.021943  164.00
...         ...       ...       ...       ...       ...       ...     ...
92777  0.217347 -0.021985  0.145882  0.665088 -1.684186  0.310195  294.90
93424 -0.218358  0.125866 -0.074180  0.179116  0.612580  0.234206    1.00
93486 -0.038806 -0.060327  0.358339  0.076984  0.018936  0.060574    0.00
93788 -0.053692 -0.026373  0.400300  0.072828  0.027043  0.063238    0.00
94218 -4.129195  0.034639 -1.133631  0.272265  1.841307 -1.796363  720.38

[430 rows x 30 columns]

In [119]:
print(Y)

57200    0
56838    0
89959    0
93207    0
73454    0
        ..
92777    1
93424    1
93486    1
93788    1
94218    1
Name: Class, Length: 430, dtype: int64

In [120]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [121]:
print(X.shape, X_train.shape, X_test.shape)

(430, 30) (344, 30) (86, 30)

## Logistic Regression

In [122]:
mod = LogisticRegression()

In [123]:
mod.fit(X_train, Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [125]:
X_train_prediction = mod.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [126]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9622093023255814

In [129]:
# accuracy on test data
X_test_prediction = mod.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [130]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9534883720930233